---
title: Home
layout: base
---

<div id="home-container">
	<section id="home-content">
		<p>
			PAPA's Technology Working Group is a firm believer in open-source
			software. Below are our maintained open-source projects.
		</p>
	</section>

	<section id="home-projects">
		{% for project in site.data.projects %}
			<div class="home-projects-entry">
				<h1>
					<a href="{{ project.link }}">{{ project.title }}</a>
				</h1>
				<div class="home-projects-sub">
					<p class="home-projects-description">
						{{ project.description }}
					</p>

					<p class="home-projects-meta">
						<span>License: {{ project.license }}</span>

						{% if project.docs %}
							&middot;
							<a href="{{ project.docs }}">Project documentation</a>
						{% endif %}
					</p>
				</div>
			</div>
		{% endfor %}
	</section>
</div>
