<footer class="footer main-footer">
	<p>
		&copy; 2015 - {{ site.time | date_to_string: "ordinal", "US" | split: ", " | last }}
		People Against Prisons Aotearoa
	</p>

	<p>
		The source for this site is available at
		<a href="https://gitlab.com/againstprisons/againstprisons.gitlab.io">
			gitlab.com/againstprisons/againstprisons.gitlab.io
		</a>
	</p>
</footer>
