<header class="main-header">
	<img src="https://papa-site-assets.ams3.cdn.digitaloceanspaces.com/logo.svg" class="main-header-logo">
	<div class="main-header-text">
		<h1>PAPA Open Source</h1>
	</div>
</header>
