.body-container {
	background: $body_background;
	color: $body_foreground;

	padding: 0 1em;

	img {
		max-width: 100%;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $body_font_family;
		font-weight: 300;
	}

	h1 {
		font-size: 1.5em;
	}

	header {
		h1 {
			font-size: 2em;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px solid $body_foreground;

		&:hover, &:focus {
			color: $red;
			text-decoration: underline;
			border-bottom-color: transparent;
		}
	}
}
