.main-footer {
	background: $footer_background;
	color: $footer_foreground;
	font-family: $footer_font_family;
	text-align: center;

	margin: 2em 0 0 0;

	p {
		margin: 0 0 0.25em 0;
		padding: 0;
	}

	a {
		color: inherit;
	}
}
