.main-header {
	background: $header_background;
	color: $header_foreground;
	font-family: $header_font_family;

	padding: 1em 0.5em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main-header-logo {
	width: 6em;
	height: auto;
}

.main-header-text {
	padding: 0 0 0 0.25em;

	h1, h2 {
		margin: 0;
		padding: 0;
		font-weight: normal;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1.5em;
	}
}
