#home-container {
	width: 100%;
	max-width: $responsive_width;
	margin: 0 auto;

	padding: 0 1em;
}

#home-projects {
	.home-projects-entry {
		padding: 1em;
		margin: 0.5em 0;
		border: 1px solid $gray;
		border-radius: 4px;

		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: baseline;

		h1 {
			font-size: 1.25em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		p {
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		.home-projects-meta {
			color: $gray;
		}
	}
}
