// general setup
$responsive_width: 48em;
$brand_font_family: "kenyan_coffee_rgregular", sans-serif;
$primary_font_family: "Roboto Condensed", sans-serif;

// colors
$black: #000;
$white: #fff;
$red: #a00;
$gray: #777;
$twitter: #00aced;

// header
$header_background: $black;
$header_foreground: $white;
$header_font_family: $brand_font_family;

// body
$body_background: $white;
$body_foreground: $black;
$body_font_family: $primary_font_family;

// footer
$footer_background: $white;
$footer_foreground: $gray;
$footer_font_family: $primary_font_family;
