---
---

*, *:before, *:after {
	box-sizing: border-box;
}

@import "variables";

html, body {
    margin: 0;
    padding: 0;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
	font-family: $body_font_family;
}

@import "header";
@import "body";
@import "footer";

// page-specific styles
@import "home";
