<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed"> 
	<link rel="stylesheet" href="https://papa-site-assets.ams3.cdn.digitaloceanspaces.com/kenyan-coffee/stylesheet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
</head>
<body>
	{% include header.html %}

	<div class="body-container">
		{{ content }}
	</div>

	{% include footer.html %}
</body>
</html>
